body {
    background-color: rgb(24, 126, 121);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

section {
    background-color: rgb(183, 224, 243);
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: auto;
    margin: auto;
    text-align:left;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.719);
}

h1, p {
    color: #fff;
    text-align: center;
}

#res {
    color: black;
    line-height: 40px;
    letter-spacing: 5px;
    display:flow-root;
}

#início, #fim, #passos {
    width: 80px;
    height: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    box-shadow: 1px 1px 5px #000;
}

.campos {
    width: 300px;
    height: 160px;
    margin-bottom: 20px;
}

.botão input[type="button"] {
    background-color: #0a5e69;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: 2px solid transparent;
    transition: .5s;
}


.botão input[type="button"]:hover {
    border-color: #1a81a0;
    color: #09663c;
    background-color: #FFF;
}
